p {font-size: 10px; background-color: rgb(76, 100, 73);}
#p3 {border: 9px red solid;
padding: 20px;; 
margin:50px;}
h1 {font-size: 30px; background-color: salmon; border: 9px seagreen solid;
padding: 9px;
margin: 30px;}